In [14]:
# Import Dependencies
import pandas as pd

In [15]:
csv_path1 = "../Resources/cleaned_species.csv"

In [16]:
df1 = pd.read_csv(csv_path1, engine='python')

In [17]:
df1.head()

,Park Name,Category,Family,Scientific Name,Common Names
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi..."
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote"
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf"
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."

In [18]:
park_count = df1.groupby('Park Name')['Category'].count()
park_count
df = pd.DataFrame({'Park Name':park_count.index, 'count':park_count.values})
df

                                         Park Name  count
0                             Acadia National Park   1709
1                             Arches National Park   1048
2                           Badlands National Park   1389
3                           Big Bend National Park   2269
4                           Biscayne National Park   1726
5       Black Canyon of the Gunnison National Park   1106
6                       Bryce Canyon National Park   1286
7                        Canyonlands National Park   1223
8                       Capitol Reef National Park   1566
9                   Carlsbad Caverns National Park   1536
10                   Channel Islands National Park   1885
11                          Congaree National Park   2321
12                       Crater Lake National Park   3760
13                   Cuyahoga Valley National Park   1941
14                      Death Valley National Park   4439
15               Denali National Park and Preserve   1320
16                      Dry Tortugas National Park    848
17                        Everglades National Park   2084
18  Gates Of The Arctic National Park and Preserve   1353
19          Glacier Bay National Park and Preserve   1957
20                           Glacier National Park   2556
21                      Grand Canyon National Park   2622
22                       Grand Teton National Park   2030
23                       Great Basin National Park   2653
24     Great Sand Dunes National Park and Preserve    952
25             Great Smoky Mountains National Park   6623
26               Guadalupe Mountains National Park   1746
27                         Haleakala National Park   2580
28                  Hawaii Volcanoes National Park   3298
29                       Hot Springs National Park   1950
30                       Isle Royale National Park   1397
31                       Joshua Tree National Park   2294
32               Katmai National Park and Preserve   1225
33                      Kenai Fjords National Park   1057
34                      Kobuk Valley National Park   1025
35           Lake Clark National Park and Preserve   2007
36                   Lassen Volcanic National Park   1797
37                      Mammoth Cave National Park   2499
38                        Mesa Verde National Park   1243
39                     Mount Rainier National Park   1743
40                    North Cascades National Park   3363
41                           Olympic National Park   1948
42                  Petrified Forest National Park    853
43                         Pinnacles National Park   1416
44                           Redwood National Park   6310
45                    Rocky Mountain National Park   3152
46                           Saguaro National Park   1834
47         Sequoia and Kings Canyon National Parks   1995
48                        Shenandoah National Park   4655
49                Theodore Roosevelt National Park   1165
50                         Voyageurs National Park   1453
51                         Wind Cave National Park   1395
52  Wrangell - St Elias National Park and Preserve   1796
53                       Yellowstone National Park   3966
54                          Yosemite National Park   2088
55                              Zion National Park   1796

In [24]:
sorted = df.sort_values(by='count')
sorted

                                         Park Name  count
16                      Dry Tortugas National Park    848
42                  Petrified Forest National Park    853
24     Great Sand Dunes National Park and Preserve    952
34                      Kobuk Valley National Park   1025
1                             Arches National Park   1048
33                      Kenai Fjords National Park   1057
5       Black Canyon of the Gunnison National Park   1106
49                Theodore Roosevelt National Park   1165
7                        Canyonlands National Park   1223
32               Katmai National Park and Preserve   1225
38                        Mesa Verde National Park   1243
6                       Bryce Canyon National Park   1286
15               Denali National Park and Preserve   1320
18  Gates Of The Arctic National Park and Preserve   1353
2                           Badlands National Park   1389
51                         Wind Cave National Park   1395
30                       Isle Royale National Park   1397
43                         Pinnacles National Park   1416
50                         Voyageurs National Park   1453
9                   Carlsbad Caverns National Park   1536
8                       Capitol Reef National Park   1566
0                             Acadia National Park   1709
4                           Biscayne National Park   1726
39                     Mount Rainier National Park   1743
26               Guadalupe Mountains National Park   1746
52  Wrangell - St Elias National Park and Preserve   1796
55                              Zion National Park   1796
36                   Lassen Volcanic National Park   1797
46                           Saguaro National Park   1834
10                   Channel Islands National Park   1885
13                   Cuyahoga Valley National Park   1941
41                           Olympic National Park   1948
29                       Hot Springs National Park   1950
19          Glacier Bay National Park and Preserve   1957
47         Sequoia and Kings Canyon National Parks   1995
35           Lake Clark National Park and Preserve   2007
22                       Grand Teton National Park   2030
17                        Everglades National Park   2084
54                          Yosemite National Park   2088
3                           Big Bend National Park   2269
31                       Joshua Tree National Park   2294
11                          Congaree National Park   2321
37                      Mammoth Cave National Park   2499
20                           Glacier National Park   2556
27                         Haleakala National Park   2580
21                      Grand Canyon National Park   2622
23                       Great Basin National Park   2653
45                    Rocky Mountain National Park   3152
28                  Hawaii Volcanoes National Park   3298
40                    North Cascades National Park   3363
12                       Crater Lake National Park   3760
53                       Yellowstone National Park   3966
14                      Death Valley National Park   4439
48                        Shenandoah National Park   4655
44                           Redwood National Park   6310
25             Great Smoky Mountains National Park   6623

In [25]:
sorted.to_csv('../Resources/park_count.csv', index=False)

In [21]:

park_count = df1['Park Name'].value_counts()


park_df = park_count.to_frame()
park_df

                                                Park Name
Great Smoky Mountains National Park                  6623
Redwood National Park                                6310
Shenandoah National Park                             4655
Death Valley National Park                           4439
Yellowstone National Park                            3966
Crater Lake National Park                            3760
North Cascades National Park                         3363
Hawaii Volcanoes National Park                       3298
Rocky Mountain National Park                         3152
Great Basin National Park                            2653
Grand Canyon National Park                           2622
Haleakala National Park                              2580
Glacier National Park                                2556
Mammoth Cave National Park                           2499
Congaree National Park                               2321
Joshua Tree National Park                            2294
Big Bend National Park                               2269
Yosemite National Park                               2088
Everglades National Park                             2084
Grand Teton National Park                            2030
Lake Clark National Park and Preserve                2007
Sequoia and Kings Canyon National Parks              1995
Glacier Bay National Park and Preserve               1957
Hot Springs National Park                            1950
Olympic National Park                                1948
Cuyahoga Valley National Park                        1941
Channel Islands National Park                        1885
Saguaro National Park                                1834
Lassen Volcanic National Park                        1797
Wrangell - St Elias National Park and Preserve       1796
Zion National Park                                   1796
Guadalupe Mountains National Park                    1746
Mount Rainier National Park                          1743
Biscayne National Park                               1726
Acadia National Park                                 1709
Capitol Reef National Park                           1566
Carlsbad Caverns National Park                       1536
Voyageurs National Park                              1453
Pinnacles National Park                              1416
Isle Royale National Park                            1397
Wind Cave National Park                              1395
Badlands National Park                               1389
Gates Of The Arctic National Park and Preserve       1353
Denali National Park and Preserve                    1320
Bryce Canyon National Park                           1286
Mesa Verde National Park                             1243
Katmai National Park and Preserve                    1225
Canyonlands National Park                            1223
Theodore Roosevelt National Park                     1165
Black Canyon of the Gunnison National Park           1106
Kenai Fjords National Park                           1057
Arches National Park                                 1048
Kobuk Valley National Park                           1025
Great Sand Dunes National Park and Preserve           952
Petrified Forest National Park                        853
Dry Tortugas National Park                            848

In [22]:
park_df.rename(columns={"": "Park Name", "Park Name": "Count"})

                                                Count
Great Smoky Mountains National Park              6623
Redwood National Park                            6310
Shenandoah National Park                         4655
Death Valley National Park                       4439
Yellowstone National Park                        3966
Crater Lake National Park                        3760
North Cascades National Park                     3363
Hawaii Volcanoes National Park                   3298
Rocky Mountain National Park                     3152
Great Basin National Park                        2653
Grand Canyon National Park                       2622
Haleakala National Park                          2580
Glacier National Park                            2556
Mammoth Cave National Park                       2499
Congaree National Park                           2321
Joshua Tree National Park                        2294
Big Bend National Park                           2269
Yosemite National Park                           2088
Everglades National Park                         2084
Grand Teton National Park                        2030
Lake Clark National Park and Preserve            2007
Sequoia and Kings Canyon National Parks          1995
Glacier Bay National Park and Preserve           1957
Hot Springs National Park                        1950
Olympic National Park                            1948
Cuyahoga Valley National Park                    1941
Channel Islands National Park                    1885
Saguaro National Park                            1834
Lassen Volcanic National Park                    1797
Wrangell - St Elias National Park and Preserve   1796
Zion National Park                               1796
Guadalupe Mountains National Park                1746
Mount Rainier National Park                      1743
Biscayne National Park                           1726
Acadia National Park                             1709
Capitol Reef National Park                       1566
Carlsbad Caverns National Park                   1536
Voyageurs National Park                          1453
Pinnacles National Park                          1416
Isle Royale National Park                        1397
Wind Cave National Park                          1395
Badlands National Park                           1389
Gates Of The Arctic National Park and Preserve   1353
Denali National Park and Preserve                1320
Bryce Canyon National Park                       1286
Mesa Verde National Park                         1243
Katmai National Park and Preserve                1225
Canyonlands National Park                        1223
Theodore Roosevelt National Park                 1165
Black Canyon of the Gunnison National Park       1106
Kenai Fjords National Park                       1057
Arches National Park                             1048
Kobuk Valley National Park                       1025
Great Sand Dunes National Park and Preserve       952
Petrified Forest National Park                    853
Dry Tortugas National Park                        848

In [23]:
df2 = pd.read_csv(csv_path2)

NameError: name 'csv_path2' is not defined

In [ ]:
df1.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [ ]:
df2.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35      -68.21
1      ARCH    Arches National Park    UT   76519     38.68     -109.57
2      BADL  Badlands National Park    SD  242756     43.75     -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25     -103.25
4      BISC  Biscayne National Park    FL  172924     25.65      -80.08

In [ ]:
df1.columns

Index(['Species ID', 'Park Name', 'Category', 'Order', 'Family',
       'Scientific Name', 'Common Names', 'Record Status', 'Occurrence',
       'Nativeness', 'Abundance', 'Seasonality', 'Conservation Status',
       'Unnamed: 13'],
      dtype='object')

In [ ]:
df2.columns

Index(['Park Code', 'Park Name', 'State', 'Acres', 'Latitude', 'Longitude '], dtype='object')

In [ ]:
df1.fillna("Nan"=="0", inplace=True)

In [ ]:
df1.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,False,False
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,False,False,False
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,False,Species of Concern,False
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,False,False,Endangered,False
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,False,False

In [ ]:
new_df1 = df1.drop(["Species ID", "Order", "Occurrence",
       "Nativeness", "Abundance", "Seasonality", "Conservation Status",
       "Conservation Status",
       ],axis=1,)
new_df1

,Park Name,Category,Family,Scientific Name,Common Names,Record Status,Unnamed: 13
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose,Approved,False
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,False
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,False
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,False
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,False
...,...,...,...,...,...,...,...
119243,Zion National Park,Vascular Plant,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,False
119244,Zion National Park,Vascular Plant,Vitaceae,Vitis arizonica,Canyon Grape,Approved,False
119245,Zion National Park,Vascular Plant,Vitaceae,Vitis vinifera,Wine Grape,Approved,False
119246,Zion National Park,Vascular Plant,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,False
119247,Zion National Park,Vascular Plant,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,False

In [ ]:
new_df1.head()

,Park Name,Category,Family,Scientific Name,Common Names,Record Status,Unnamed: 13
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose,Approved,False
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,False
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,False
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,False
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,False

In [ ]:
main_df = new_df1.drop(["Record Status", "Unnamed: 13"],axis=1,)

In [ ]:
main_df.head()

,Park Name,Category,Family,Scientific Name,Common Names
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi..."
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote"
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf"
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."

In [ ]:
main_df.to_csv('../Resources/cleaned_species.csv', index=False)

In [ ]:
df2.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35      -68.21
1      ARCH    Arches National Park    UT   76519     38.68     -109.57
2      BADL  Badlands National Park    SD  242756     43.75     -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25     -103.25
4      BISC  Biscayne National Park    FL  172924     25.65      -80.08

In [ ]:
df2.to_csv('../Resources/cleaned_park.csv', index=False)

In [ ]:
cleaned_species = main_df
cleaned_species.head()

,Park Name,Category,Family,Scientific Name,Common Names
0,Acadia National Park,Mammal,Cervidae,Alces alces,Moose
1,Acadia National Park,Mammal,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi..."
2,Acadia National Park,Mammal,Canidae,Canis latrans,"Coyote, Eastern Coyote"
3,Acadia National Park,Mammal,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf"
4,Acadia National Park,Mammal,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re..."

In [ ]:
cleaned_parks = df2.drop(["Park Code"],axis=1,)
cleaned_parks.head()

                Park Name State   Acres  Latitude  Longitude
0    Acadia National Park    ME   47390     44.35      -68.21
1    Arches National Park    UT   76519     38.68     -109.57
2  Badlands National Park    SD  242756     43.75     -102.50
3  Big Bend National Park    TX  801163     29.25     -103.25
4  Biscayne National Park    FL  172924     25.65      -80.08